html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

:root {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
}

.page-header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.time-filter {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.time-filter input[type="range"] {
  flex: 1;
}

.time-filter time {
  font-variant-numeric: tabular-nums;
}

.time-filter em {
  color: #666;
  font-style: italic;
}

body {
  display: flex;
  flex-direction: column;
}

#map {
  width: 100%;
  flex: 1;
  min-height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
}

#map svg {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle {
  pointer-events: auto;
  stroke: white;
  stroke-width: 1;
  fill-opacity: 0.6;

  fill: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}

.legend {
  margin-top: 0.5rem;
  display: flex;
  gap: 1px;
  font-size: 0.8rem;
  text-align: center;
}

.legend div {
  flex: 1;
  padding: 0.25rem 0.75rem;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}
